body, html {
    padding-top: 27px;
    height: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.top20 {
    margin-top: 20px;
}

.header {
    float: left;
}

i {
    margin: 8px;
    color: #ffffff;
}

/* responsive nav stacked liked 3.x */
@media(max-width:34em) {
    .navbar .navbar-brand {
        float:none;
        display: block;
    }
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
    }
}

.card {
    overflow:hidden;
}

.card-block .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-block .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}


/* Graph Resets */
.graph-container,
.graph-container div,
.graph-container a,
.graph-container span {
    margin: 0;
    padding: 0;
}


/* Graph styles */
#graph-wrapper {
    border-radius: 5px;
    padding: 20px;
    float: left;
    background-color: rgba(0, 0, 0, 0.1);
}


/* Graph Container */
.graph-container {
    position: relative;
    width: 750px;
    height: 240px;
    padding: 40px;
}
 
.graph-container > div {
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    left: 25px;
}
 
.graph-info {
    width: 590px;
    margin-bottom: 10px;
}

.graph-info p {
    position: relative;
    display: inline-block;
    float: left;
    height: 20px;
    padding: 7px 10px 5px 30px;
    margin-right: 10px;
    text-decoration: none;
    cursor: default;
}


/* Color Circles */
.graph-info p:before {
    position: absolute;
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    top: 13px;
    left: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
.graph-info .visitors:before { background: #5cb85c; }
.graph-info .returning:before { background: #5bc0de; }


.visitors, .returning {
    font-weight: 500;
    font-size: 13px;
}


/* Lines and Bars Buttons */
#lines, #bars {
    border-radius: 3px;
    width: 34px;
    height: 32px;
    padding: 0;
    margin-right: 0;
    margin-left: 10px;
    background-color: grey;
    float: right;
    cursor: pointer;
}
 
#lines.active, #bars.active {
    background: #5cb85c;
}
 
#lines span, #bars span {
    display: block;
    width: 34px;
    height: 32px;
}


/* Clear Floats */
.graph-info:before, .graph-info:after,
.graph-container:before, .graph-container:after {
    content: '';
    display: block;
    clear: both;
}

#tooltip {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #646464;
}
 
.tickLabel {
    font-weight: bold;
    font-size: 12px;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.yAxis .tickLabel:first-child,
.yAxis .tickLabel:last-child { display: none; }

.flot-y-axis {
    text-align: center;
    margin: 0 auto 0 auto;
}
